.Poll
  text-align center

  .content
    // min-width 100px
    display inline-block
    text-align left

    button
      display block
      margin 20px auto 5px auto
      font-size 20px
      background-color #d4423b
      border none
      outline none
      color #FFF
      padding 8px 20px
      cursor pointer
