.Poll{text-align:center;}
.Poll .content{display:inline-block;text-align:left;}
.Poll .content button{display:block;margin:20px auto 5px auto;font-size:20px;background-color:#d4423b;border:none;outline:none;color:#fff;padding:8px 20px;cursor:pointer}
